
html{
  font-family: "Archivo Narrow", sans-serif;
    color: white;
}

header{ 
    background-image:url(../imgs/fionnaandcake.png); 
    /* background-color: rgba(255,0,0,.3); */
    background-position: center;
    background-size: cover;
    padding: 0px;

}

 header .column-container{
    padding: 200px 0px 173px 0px;
    line-height: 80%;
}


h1{
   
    font-size: 80px;
    text-align: center;
    margin: 0;
    margin-bottom: 59px;
}
  



h2{
    font-size: 30px;
    text-align: center;
  
}

.section {
    background-color: navy; 
    /* background-color: rgba(0,0,200,.3); */

}

.column-container{

    margin: auto;
    padding: 39px 0 39px 0;
    max-width: 960px;

}

h3{
    font-size: 40px;
    text-align: center;
    margin: 0 0 33px 0;
}


h4{
    font-size: 30px;
    margin: 0;
}


p{
    font-size: 18px;
}



#img-box{
    float: right;
    padding-left: 18px;
    padding-bottom: 18px;
}
 

.section-2{
/* background-color: peachpuff; */
color:navy;

}
 
.section-2 .column-container{
   /* margin: auto;
    padding: 20px;
    max-width: 926px;*/
       
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
}

.photo-grid li{
    width: 50%;
    list-style: none;
    display: flex;
    padding-right: 20px;
    box-sizing: border-box;
    align-items: flex-start;
    margin-bottom: 15px;

}

.photo-grid h4{
   margin: 0;

}

.photo-grid div{
    padding: 0 20px;
    box-sizing: border-box;
}

.photo-grid p {
    margin: 0;

}


/*1920x1080 Image size>img*/