



body{
    background-color: black;
    color: white; 

}

h1{
    
    color: white;
    font-size:80px;
    padding: 0 20px 0 20px;
/*ask abt equal spacing for header, struggled with this, wasn't working with auto either*/
}

h2{

    font-weight: bold;

}


span{
    
    font-weight: bold;
}

span.Venkman{
    color:blueviolet;

}

span.Barrett{
    color:green;
    
}

span.Ray{
    color:red;

}

span.Mayor{
    color:aqua;

}

span.Ergon{
    color:orange;

}

span.Winston{
    color:greenyellow;

}



div.scenebox{
    border:0px;
    width:400px;
    font-size: 22px;
    padding: 20px;
    padding-left: 40px ;
    padding:0 20px 0 20px;
    padding:0 20px;
    margin: 0 auto 70px auto;
    

}

