
html{
   
  color:black;

}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
  
  
}

.home h1{
color:white;
}


.home h2{
color:white;   
}

.home h3{
    color:white;      
}

.home .navbar a{
    color:white;
}


.navbar {
    position: sticky;
    top: 0; 
    z-index: 1000; 
    
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0; 
}




a{
  text-decoration: none;
  color:black;
}


.navbar a{
    text-decoration: none;
    color: black;
     
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.navbar a:hover {
    text-decoration: underline; 
}

.navbar a.active {
    text-decoration: underline; 
}


h1{
    text-align: center;
    font-family: Domine;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

h2{
    margin-bottom: 0;
    font-size: 183px;
    font-family: Domine;
    font-style: normal;
    font-weight: 300;
    line-height: normal
     
}

h2 u{
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none; 
   
}


header{
    padding-top: 20px;
}

.home{
    padding-left: 50px;
    position: relative;
    background-image:url(../imgs/sakamoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
}



hr{
    width: 870px;
    margin:0 ;
}

h3{
    font-family: "Roboto Mono";
    font-size: 45px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.dot{
    width: 10px;
}

h4{
    color: #000;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0;
    padding-left: 25px;
}



.works-grid {
    display:flex;
    gap: 30px;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.works-grid li{
    width: 30%;
}

.grid-img-box img{
    object-fit: cover;
    width: 100%;
    height: auto; 
    aspect-ratio: 1 / 1;
}

.grid-img-box img:hover{
    filter: grayscale(100%); 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    font-size: 18px;
    text-align: center;
    padding-top: 20%;
    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0.5s;
   
  }
  
.container:hover .overlay {
    visibility: visible; 
    opacity: 1; 
  }



.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    
    background-color: black;
    top: 20px;
    bottom: -2000px;
    left: 50%;
    margin-left: -3px;
  }
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
   

  }

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    
    background-color: white;
    border: 4px solid ;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

 
.left {
    left: 0;
  }
  
  
.right {
    left: 50%;
  }
  
  
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }

.left::after {
    right: -14.5px;
  }
  
  
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
 
.right::after {
    left: -16px;
  }
  
 
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  
  @media screen and (max-width: 600px) {
    
    .timeline::after {
    left: 31px;
    }
    
   
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
   
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    
    .left::after,.right::after {
    left: 15px;
    }
    
    
    .right {
    left: 0%;
    }
  }

  .Timeline-section{
    padding-bottom: 70px;
  }


  h5{
    color: #1F1702;
    font-family: Domine;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0; 
  }

  


  div.sources-box{
   
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
  

  }

  div.sources-box p{
    text-align: left;
  }

  

 
p{
    color: #1F1702;
    font-family: "Roboto Mono";
    font-size: 15px;
    font-style: light;
    font-weight: 300;
    line-height: normal;
    text-align: left;
   
}


.bio-box p{
  z-index: 4;
  max-width:  50%;
  padding-left: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}
 
footer{
  height: 300px;
  padding-bottom: 0;
  padding-top: 70px;
}

footer img{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}


@media (max-width: 390px) {
  .navbar a {
    
    padding: 5px;
    font-size: 14px;
  }

  h2 {
    font-size: 40px; 
  }
 


hr{
  max-width: 170px;
}

.brushstroke{
  display: none;
}

.home{
  padding-left: 40px;
  padding-right: 40px;
}

.navbar li:first-child a {
  display: none;

 

}
.works-grid li {
  width: 100%;

}

.img-brustroke-photo{
  display: none;
}


.bstroke-container{
  display: none;
}

h4{
  font-size:60px;
}

.works-grid {
  padding-left: 10px;
  padding-right: 10px;

}

.bio-box p {
  max-width: 70%;
}

}





