header{
    margin-bottom: 3rem;
}

p{
    line-height: 1.6;
}

a{
    font-size: 0.8em;
    text-transform: uppercase;
    
}

.shows h1{
    font-size: 2.5 rem;

}


h1,h2{
    font: size 1rem;
    text-transform: uppercase; 
    font-weight: lighter;

}

.shows .cast li{
   max-width: 25% ;
}


.shows{
    border-top: 1px solid black;

}

#unbreakable-kimmy-schmidt{
    border-top: 1px solid black;
}

.content header{
    font-weight: bold;
    color: black;
}


.cast li div{
    font-size: 0.8rem;


}

.shows .cast div:first-of-type{
    font-weight: bold;
}

.shows .cast div:nth-of-type(2){
    font-style: italic;
}

.shows #game-of-thrones .seasons li:last-child:after{
    content:'* Final Season';
    display:block;
    color: #999;
    font-size: 0.7rem;

}

